@import "tailwindcss";

@theme {
  --color-background:#0f172a;
  --color-surface:#1e293b;
  --color-accent:#22d3ee;

  /* Text color */
  --color-text-main:#e2e8f0;
  --color-text-head:#ffffff;
}

/* apply global background */

body {
  background-color:var(--color-background);
  color:var(--color-text-main);
  margin:0;
  font-family: system-ui, -apple-system, sans-serif;
  scroll-behavior: smooth;
}